:root {
  --bg-primary: rgb(89, 99, 236);
  --bg-primary-hover: rgb(89, 99, 236, 0.9);

  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);

  --border-primary: rgba(0, 0, 0, 0.23);

  --pd-md: 16px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  --radius-sm: 4px;
  --radius-md: 8px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}