.container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: none;
  outline: none;
}

.container svg {
  fill: var(--text-secondary);
}

.container,
.container svg {
  transition: 300ms ease-in-out;
}

.container:hover {
  background-color: var(--color-primary-hover);
}

.container:hover svg {
  fill: var(--color-primary);
}


.active {
  background-color: var(--color-primary);
}

.active svg {
  fill: #fff;
}