.button {
  height: 48px;
  background-color: var(--color-primary);
  color: white;
  padding: 0px var(--spacing-lg);
  border-radius: var(--radius-sm);
  border: none;
  cursor: pointer;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  transition: 300ms ease-in-out;
}

.button:hover {
  background-color: var(--color-primary-hover);
}