.container {
  width: 100%;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.container h3,
.container h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container h5 {
  flex: 1;
}